@mixin sitefont {
    font-size: $fsize;
    font-family: $ffamily;
    color: $black;
    font-weight: 400;
}

@mixin shadow-bottom {
    box-shadow: 0 3px 3px lighten($black, 70%);
    -moz-box-shadow: 0 3px 3px lighten($black, 70%);
    -webkit-box-shadow: 0 3px 3px lighten($black, 70%);
    -ms-box-shadow: 0 3px 3px lighten($black, 70%);
    -o-box-shadow: 0 3px 3px lighten($black, 70%);
}
@mixin shadow-center {
    box-shadow: 0 0 3px lighten($black, 70%);
    -moz-box-shadow: 0 0 3px lighten($black, 70%);
    -webkit-box-shadow: 0 0 3px lighten($black, 70%);
    -ms-box-shadow: 0 0 3px lighten($black, 70%);
    -o-box-shadow: 0 0 3px lighten($black, 70%);
}

@mixin transition {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

//mixins for responsive media queries

//mixin mobile 320px-575px
@mixin mob {
    @media(min-width:#{$mobile-width}) and (max-width:#{$moblscape-width - 1}) {
        @content;
    }
}

//mixin for tablet 576px to 767px
@mixin tab {
    @media(min-width:#{$moblscape-width}) and (max-width:#{$tablet-width - 1}) {
        @content;
    }
}

//mixin for laptop 768px to 991

@mixin laptop {
    @media(min-width:#{$tablet-width}) and (max-width:#{$laptop-width - 1}) {
        @content;
    }
}

//mixin for desktop 992px to 1199 px
@mixin desktop {
    @media(min-width:#{$laptop-width}) and (max-width:#{$desktop-width - 1}) {
        @content;
    }
}