//colors variables

$black:#000000;
$white:#ffffff;
$blue:#1ca3b8;
$fsize:14px;
$ffamily:Be Vietnam, sans-serif;



//variables for responsive breakpoints

$mobile-width:320px; //default mobile
$moblscape-width:576px; //small device (sm)
$tablet-width:768px; // medium device (md)
$laptop-width:992px; //large device (lg)
$desktop-width:1200px; //extra large device for desktop (xl)