@import url("https://fonts.googleapis.com/css?family=Be+Vietnam:300,400,500,700&display=swap");
* {
  list-style: none;
  text-decoration: none;
  color: #000000;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: Be Vietnam, sans-serif;
  color: #000000;
  font-weight: 400;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

.fblue {
  color: #1ca3b8;
}

small {
  font-size: 13px;
}

.flight, .sec-title {
  font-family: Be Vietnam, sans-serif;
  font-weight: 300;
}

.fsbold {
  font-family: Be Vietnam, sans-serif;
  font-weight: 500;
}

.fbold, main .job-col h2 {
  font-family: Be Vietnam, sans-serif;
  font-weight: 700;
}

.bgblue {
  background: #1ca3b8;
  color: #ffffff;
}

.site-fluid {
  width: 90%;
  margin: 0 auto;
}

.fgray {
  color: gray;
}

.navbtn {
  background: #1ca3b8;
  color: #ffffff !important;
  display: inline-block;
  padding: .5rem 1rem;
  border: 1px solid transparent;
}

.navbtn .icomoon {
  font-size: 16px !important;
  color: #ffffff;
}

.navbtn:hover {
  background: #ffffff;
  color: #1ca3b8 !important;
  border: 1px solid #1ca3b8;
}

.navbtn:hover .icomoon {
  color: #1ca3b8 !important;
}

.sec-title {
  font-size: 28px;
  position: relative;
  margin-bottom: 30px;
}

.sec-title:before {
  width: 60px;
  height: 3px;
  background: #1ca3b8;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;
  margin-left: -30px;
}

header {
  box-shadow: 0 3px 3px #b3b3b3;
  -moz-box-shadow: 0 3px 3px #b3b3b3;
  -webkit-box-shadow: 0 3px 3px #b3b3b3;
  -ms-box-shadow: 0 3px 3px #b3b3b3;
  -o-box-shadow: 0 3px 3px #b3b3b3;
  padding: 0;
}

header .leftnav {
  padding-left: 5%;
}

header .navbar-brand img {
  width: 200px;
}

header .nav-link {
  opacity: 1;
  color: black;
  font-size: 16px;
}

header .nav-link:hover .linkspan {
  border-bottom: 1px solid #1ca3b8;
  color: #1ca3b8;
}

header .nav-link .icomoon {
  font-size: 18px;
  padding: 0 3px;
}

header .dropdown .dropdown-menu {
  top: 53px;
  border-radius: 0;
}

header .dropdown .dropdown-item {
  font-size: 15px;
}

header .dropdown .dropdown-item:hover {
  background: #1ca3b8;
  color: #ffffff;
}

header .navbtn {
  margin-right: 10px;
}

header .value-icon {
  position: relative;
}

header .value-icon .value {
  background: #1ca3b8;
  font-size: 10px;
  color: #ffffff;
  position: absolute;
  top: 4px;
  right: 2px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
}

main .db-search {
  padding: 50px 0 30px 0;
  box-shadow: 0 3px 3px #b3b3b3;
  -moz-box-shadow: 0 3px 3px #b3b3b3;
  -webkit-box-shadow: 0 3px 3px #b3b3b3;
  -ms-box-shadow: 0 3px 3px #b3b3b3;
  -o-box-shadow: 0 3px 3px #b3b3b3;
}

main .db-search .search-control {
  height: 50px;
  border-radius: 0;
  border: 1px solid #b3b3b3;
  width: 40%;
  padding-left: 10px;
  margin: 0 5px;
  color: gray;
}

main .db-search .search-control:focus {
  border: 1px solid #1ca3b8;
}

main .db-search .searchsubmit {
  width: 15%;
  background: #1ca3b8;
  height: 50px;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid transparent;
}

main .db-search .searchsubmit:hover {
  background: #ffffff;
  border: 1px solid #1ca3b8;
  color: #1ca3b8;
}

main .db-search .searchsubmit:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .db-search .advance-search {
  margin-right: 11px;
  float: right;
}

main .job-col {
  border: 1px solid #e6e6e6;
  padding: 15px;
  font-size: 13px;
  margin-bottom: 20px;
  height: 220px;
}

main .job-col .brand img {
  height: 55px;
}

main .job-col:hover {
  box-shadow: 0 3px 3px #b3b3b3;
  -moz-box-shadow: 0 3px 3px #b3b3b3;
  -webkit-box-shadow: 0 3px 3px #b3b3b3;
  -ms-box-shadow: 0 3px 3px #b3b3b3;
  -o-box-shadow: 0 3px 3px #b3b3b3;
}

main .job-col h2 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

main .job-col h2 a {
  color: #000000;
}

main .job-col h2 a:hover {
  color: #1ca3b8;
}

main .job-col small {
  color: gray;
}

main .job-col .headin {
  width: 80%;
}

main .job-col .nav {
  padding: 15px 0;
}

main .job-col .nav a {
  padding-right: 25px;
}

main .job-col .nav .icomoon {
  font-size: 14px;
}

main .job-col .salary {
  padding: 10px 0;
  margin-top: 15px;
  border-top: 1px solid #e6e6e6;
}

main .domaincol {
  border: 1px solid #e6e6e6;
  height: 184px;
  text-align: center;
  margin-left: -1px;
  margin-top: -1px;
}

main .domaincol a {
  display: block;
  height: 184px;
  padding: 50px 0;
}

main .domaincol a h3 {
  font-size: 20px;
  padding-bottom: 15px;
  position: relative;
  margin-bottom: 20px;
}

main .domaincol a h3:before {
  width: 40px;
  height: 2px;
  background: #1ca3b8;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -20px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

main .domaincol a h4 {
  font-size: 30px;
}

main .domaincol:hover {
  background: #1ca3b8;
  color: #ffffff;
}

main .domaincol:hover h3 {
  color: #ffffff;
}

main .domaincol:hover h3:before {
  content: '';
  background: #ffffff;
  bottom: -20px;
}

main .domaincol:hover h4 {
  color: #ffffff;
}

main .jobs-location {
  padding: 50px 0;
}

main .jobs-location .city-col {
  box-shadow: 0 0 3px #b3b3b3;
  -moz-box-shadow: 0 0 3px #b3b3b3;
  -webkit-box-shadow: 0 0 3px #b3b3b3;
  -ms-box-shadow: 0 0 3px #b3b3b3;
  -o-box-shadow: 0 0 3px #b3b3b3;
  min-height: 65px;
  display: block;
  padding: 10px;
  margin-bottom: 20px;
}

main .jobs-location .city-col h5 {
  font-size: 16px;
}

main .jobs-location .city-col h6 {
  font-size: 14px;
}

main .jobs-location .city-col:hover {
  background: #1ca3b8;
}

main .jobs-location .city-col:hover h5, main .jobs-location .city-col:hover h6 {
  color: #ffffff;
}

main .jobs-location .city-col:hover h5 .fblue, main .jobs-location .city-col:hover h6 .fblue {
  color: #ffffff;
}

footer {
  background: #1ca3b8;
  padding: 15px 0;
}

footer p {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */