@import 'variables';
@import 'mixins';

//fonts
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:300,400,500,700&display=swap');


* {
    list-style: none;
    text-decoration: none;
    color: $black;
    @include transition;
}

a {
    text-decoration: none;
    color: $black;

    &:hover {
        text-decoration: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

body {
    @include sitefont;
    // font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

.fblue {
    color: $blue;
}

small {
    font-size: $fsize - 1;
}

.flight {
    font-family: $ffamily;
    font-weight: 300;
}

.fsbold {
    font-family: $ffamily;
    font-weight: 500;
}

.fbold {
    font-family: $ffamily;
    font-weight: 700;
}

.bgblue {
    background: $blue;
    color: $white;
}

.site-fluid {
    width: 90%;
    margin: 0 auto;
}

.fgray {
    color: lighten($black, 50%);
}

.navbtn {
    background: $blue;
    color: $white !important;
    display: inline-block;
    padding: .5rem 1rem;
    border:1px solid transparent;

    .icomoon{
        font-size:$fsize + 2!important;
        color:$white;
    }

    &:hover{
        background:$white;
        color:$blue!important;
        border:1px solid $blue;

        .icomoon{
            color:$blue!important;
        }
    }



}

.sec-title {
    font-size: $fsize * 2;
    @extend .flight;
    position: relative;
    margin-bottom: 30px;

    &:before {
        width: 60px;
        height: 3px;
        background: $blue;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -15px;
        margin-left: -30px;
    }
}

//header styles 
header {
    @include shadow-bottom;
    padding: 0;

    .leftnav {
        padding-left: 5%;
    }

    .navbar-brand {
        img {
            width: 200px;
        }
    }

    .nav-link {
        opacity: 1;
        color: rgba($black, 1);
        font-size: $fsize + 2;

        &:hover {
            .linkspan {
                border-bottom: 1px solid $blue;
                color:$blue;
            }
        }

        .icomoon {
            font-size: $fsize + 4;
            padding: 0 3px;
        }


    }

    .dropdown {
        .dropdown-menu {
            top: 53px;
            border-radius: 0;
        }

        .dropdown-item {
            font-size: $fsize +1;

            &:hover {
                background: $blue;
                color: $white;
            }
        }
    }

    .navbtn {
        margin-right: 10px;
    }

    .value-icon {
        position: relative;

        .value {
            background: $blue;
            font-size: $fsize - 4;
            color: $white;
            position: absolute;
            top: 4px;
            right: 2px;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            text-align: center;
            line-height: 18px;
        }
    }
}

//header ends 

//main
main {
    .db-search {
        padding: 50px 0 30px 0 ;
        @include shadow-bottom;

        .search-control {
            height: 50px;
            border-radius: 0;
            border: 1px solid lighten($black, 70%);
            width: 40%;
            padding-left: 10px;
            margin: 0 5px;
            color: lighten($black, 50%);

            &:focus {
                border: 1px solid $blue;
            }
        }

        .searchsubmit {
            width: 15%;
            background: $blue;
            height: 50px;
            color: $white;
            text-transform: uppercase;
            border: 1px solid transparent;

            &:hover {
                background: $white;
                border: 1px solid $blue;
                color: $blue;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }

        }
        .advance-search{
            margin-right:11px;
            float:right;
        }
    }

    //job col 
    .job-col {
        border: 1px solid lighten($black, 90%);
        padding: 15px;
        font-size: $fsize - 1;
        margin-bottom: 20px;
        height: 220px;

        .brand {
            img {
                height: 55px;
            }
        }

        &:hover {
            @include shadow-bottom;
        }

        h2 {
            font-size: $fsize + 4;
            margin: 0;
            @extend .fbold;
            padding: 0;

            a {
                color: $black;

                &:hover {
                    color: $blue;

                }
            }
        }

        small {
            color: lighten($black, 50%);
        }

        .headin {
            width: 80%;
        }

        .nav {
            padding: 15px 0;

            a {

                padding-right: 25px;
            }

            .icomoon {
                font-size: $fsize;
            }
        }

        .salary {
            padding: 10px 0;
            margin-top: 15px;
            border-top: 1px solid lighten($black, 90%);
        }
    }

    //jobn col ends

    //jobs byu domain 
    .domaincol{
        border:1px solid lighten($black, 90%);
        height:184px;
        text-align:center;
        margin-left:-1px;
        margin-top:-1px;

        a{
            display:block;
            height:184px;
            padding:50px 0;

            h3{
                font-size:$fsize + 6;
                padding-bottom:15px;
                position:relative;
                margin-bottom:20px;

                &:before{
                    width: 40px;
                    height: 2px;
                    background: $blue;
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -10px;
                    margin-left: -20px; 
                    @include transition;
                }
            }
            h4{
                font-size:$fsize * 2 +2;                
            }           

        }
        &:hover{
            background:$blue;
            color:$white;

            h3{
                color:$white;

                &:before{
                    content:'';
                    background:$white;
                    bottom:-20px;
                }
            }
            h4{
                color:$white;
            }
        }
    }
    //jobs by domain ends 

    //jobs by location
    .jobs-location{
        padding:50px 0;

        .city-col{
            @include shadow-center;
            min-height:65px;
            display:block;
            padding:10px;
            margin-bottom:20px;

            h5{
                font-size:$fsize + 2;
               
            }
            h6{
                font-size:$fsize;
            }

            &:hover{
                background:$blue;

                h5, h6{
                    color:$white;

                    .fblue{
                        color:$white;
                    }
                }
            }
        }
    }
    //jobs by location ends 
}

//main ends 

//footer
footer{
    background:$blue;
    padding:15px 0;

    p{
        color:$white;
    }
}
//footer ends 